{% extends "ecmo_base.html" %}
{% block title %}ECMO main{% endblock %}
{% block extrascript %}
{% endblock %}
{% block extrastyle %}
{% endblock %}
{% block extrahead %}
   	<script type="text/javascript" src="/static/js/test_data/ecmo_main_data.js"></script>
   	<script type="text/javascript" src="/static/js/lib/json/json2.js"></script>
	<script type="text/javascript" src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
	<script type="text/javascript" src="/static/js/sock_util.js"></script>
	<script type="text/javascript" src="/static/js/render/render_widget_label.js"></script>
   	<script type="text/javascript" src="/static/js/render/render_widget_graph.js"></script>
   	<script type="text/javascript" src="/static/js/render/render_widget_trend.js"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
// JSON format for configurations (list of widget conf's):
// [{
//	 container: '', // one of T,L,R,B (top, left, right, bottom)
//   pos: '',       // numerical index of the widget in the container
//   series: []     // list of series names this widget displays such as 'set_low_slow' or 'orders'
//   div_id: '',    // id of the div containing the widget
//	 label: '',        // label for the series e.g. "Post-Membrane Pressure"
//   unit: '',         // the unit of the masurand (e.g. mmHG, %, etc)
//   symbol: '',       // Single letter symbol for the type of measurand (e.g. P for pressure)
// },]

// JSON format for series (list of series...must be in the right order):
// [
// 	// EACH ARRAY SHOULD BE THE SAME SIZE OR EMPTY. EACH ELEMENT CONTAINS A 2 
//  // VALUE LIST. THE FIRST VALUE IS THE TIME (REPRESENTING SECONDS) AND THE 
//  // SECOND ELEMENT IS THE VALUE OF THE ARRAY AT THAT TIME
//   [/*list of high setpoints for slowing*/], 
//   [/*list of low setpoints for slowing*/],
//   [/*list of high setpoints for stopping*/],
//   [/*list of low setpoints for stopping*/],
//   [/*list of measurements of the measurand*/],
//   [/*list of dr's orders for the measurand*/],
// ]

// consts for the indexes of individual series arrays in the uber series array
const SP_SLOW_HIGH_IDX = 0;
const SP_SLOW_LOW_IDX  = 1;
const SP_STOP_HIGH_IDX = 2;
const SP_STOP_LOW_IDX  = 3;
const SERIES_IDX = 4;
const ORDER_IDX = 5;

// suffixes for the available data series
const SLOW_LOW_SFX = "_slow_low";
const SLOW_HIGH_SFX = "_slow_high";
const STOP_LOW_SFX = "_stop_low";
const STOP_HIGH_SFX = "_stop_high";
const SERIES_SFX = "_series";
const ORDER_SFX = "_order";

// consts for the contents of series arrays
const TIME_IDX = 0;
const VAL_IDX = 1;

var sock;

// this value is needed per page (screen) that will request data from the server
const SCREEN_NAME = "dashboard"	
// this value is also needed per screen. this should be selectable by the user at some point.
const RUN_ID = "1"	
// this is the minimum ammount of time to pull data for at startup in seconds. if more exists, 
// more will be returned. if less exists, this is the ammount that will be generated up to
const BACKFILL_MIN = 100;

const CONF_KEY = "conf";
const FEED_DATA_KEY = "feed_data";
const WIDGET_GRAPH_CTXT = "graph_ctxt";
const WIDGET_TREND_CTXT = "trend_ctxt";
const WIDGET_LABEL_CTXT = "label_ctxt";

var configs_url = "/ecmo/widget_confs/json";
//var configs_url = "/ecmo/widget_confs/" + SCREEN_NAME + "/" + RUN_ID + "/json";
var backfill_url = "/ecmo/screen/" + SCREEN_NAME + "/" + RUN_ID + "/data/" + BACKFILL_MIN;

var configs = null;
var backfill = null;

function init_sockets(){
    sock = new WebSocket("ws://"+location.host+"/ecmo/screen/" + SCREEN_NAME + "/" + RUN_ID + "/socket");
    sock.onmessage = function(e){data_update_handler(JSON.parse(e.data))};
//    sock.onopen = function(e){console.log(e)};
}

function create_widget_div(conf, init_data){
	var w_id = generate_div_id(conf)
	var widget = $('<div/>',{
        id: w_id,
        'class': 'widget'
    })
    
    // loop over (title, trend, main)
    $.each(['label', 'trend', 'graph'], function(idx, div_type){
        $(widget).append($('<div/>',{
        	id: w_id + '-' + div_type,
            'class': div_type
        }))
    })	
    
    var container = $('#'+conf.container)
    container.append(widget)
    
     widget.data(CONF_KEY, conf)
     widget.data(FEED_DATA_KEY, init_data)
     return w_id
}

function render_widget(id){
	var widget = $("#"+id)
	var cdata = widget.data(CONF_KEY)
	var fdata = widget.data(FEED_DATA_KEY)
	
	var pvs_graph_context = render_widget_graph(id+"-graph", cdata, fdata);
	var pvs_trend_context = render_widget_trend(id+"-trend", cdata, fdata);
	var pvs_label_context = render_widget_label(id+"-label", cdata, fdata);
	
	widget.data(WIDGET_GRAPH_CTXT, pvs_graph_context)
	widget.data(WIDGET_TREND_CTXT, pvs_trend_context)
	widget.data(WIDGET_LABEL_CTXT, pvs_label_context)
}

function update_widget(id){
	var widget = $("#"+id)
	var cdata = widget.data(CONF_KEY)
	var fdata = widget.data(FEED_DATA_KEY)
	
	var graph_ctxt = widget.data(WIDGET_GRAPH_CTXT)
	var trend_ctxt = widget.data(WIDGET_TREND_CTXT)
	var label_ctxt = widget.data(WIDGET_LABEL_CTXT)
	
	update_widget_graph(id+"-graph", cdata, fdata, graph_ctxt);
	update_widget_trend(id+"-trend", cdata, fdata, trend_ctxt);
	update_widget_label(id+"-label", cdata, fdata, label_ctxt)
}


function data_update_handler(new_data){
	_.each(new_data, function(data_dict, base_div_id){
		// get all divs starting with the base of class widget
		var divs = $('div[id^="' + base_div_id + '"]:[class~="widget"]')
		_.each(divs, function(d, idx){
			_.each(data_dict, function(feed_data, feed_key){
				if($(d).data(FEED_DATA_KEY).hasOwnProperty(feed_key)){
					$(d).data(FEED_DATA_KEY)[feed_key] = $(d).data(FEED_DATA_KEY)[feed_key].concat(new_data[base_div_id][feed_key])
					update_widget($(d).attr("id"))
				}
			})
						
		})
	})
}

function generate_div_id(widget_conf){
	return widget_conf.div_id + "-" + widget_conf.container + "-" + widget_conf.pos
}
     		
$(document).ready(function() {
	$.get(configs_url, function(fetched_configs){
		$.get(backfill_url, function(backfill_data){
			configs = fetched_configs;
	        backfill = backfill_data;
	        
	        $.each(configs, function(idx, conf){
	        	var w_id = create_widget_div(conf, backfill[conf.div_id])
				render_widget(w_id)
			})
			
			!sock ? init_sockets() : 0
		})
    })
});

</script>
<!-- 
	These are the screen regin divs for the dashboard view (hence db_ prefix). 
	We have a (T)op, (B)ottom, (L)eft, (R)ight and (C)enter region.
-->
<div id="dashboard" class="outer">
<div id="db_T" class="widget_row"></div>
<div id="db_L" class="widget_col_left"></div>
<div id="db_C" class="viz_center"></div>
<div id="db_R" class="widget_col_right"></div>
<div id="db_B" class="widget_row"></div>
</div>
{% endblock %}
