<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="icon" href="/static/img/favicon.png" />
	<link rel="shortcut icon" href="/static/img/favicon.png" />    
    
    <title>ecmo :: {% block title %}{% endblock %}</title>
    <!-- ecmo_data_vis Global Styles -->
    <link type="text/css" rel="stylesheet" href="/static/css/ecmo.css" />
      
    <style type="text/css">
      {% block extrastyle %}{% endblock %}
    </style>
    
    <!-- d3 | http://mbostock.github.com/d3/ -->
    <script type="text/javascript" src="/static/js/lib/d3/d3.js"></script>
	<!-- Protovis | http://vis.stanford.edu/protovis/ -->
    <script type="text/javascript" src="/static/js/lib/protovis/protovis.js"></script>
	<!-- JQuery | http://jquery.com/ -->
    <script type="text/javascript" src="/static/js/lib/jquery-1.6.2.js"></script>
	<!-- Underscore | http://documentcloud.github.com/underscore/ -->
    <script type="text/javascript" src="/static/js/lib/underscore-min.js"></script>
    <!-- ecmo_data_viz Global Utility JS -->
    <script type="text/javascript" src="/static/js/util/ecmoUtil.js"></script>
	<script type="text/javascript">
		{% block extrascript %}
		{% endblock %}
    </script>
    {% block extrahead %}{% endblock %}
</head>
<body>
 	{% block content %}{% endblock %}
</body>
</html>